.loader__container {
  display: flex;
  min-height: 100vh;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #79cbee;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  margin: auto;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu-toggle {
  display: block;
  position: relative;
  top: 0;
  left: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
.menu-toggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
.menu-toggle a:hover {
  color: #79cbee;
}
.menu-toggle input:checked ~ ul {
  transform: none;
}
.menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: fixed;
  top: 30px;
  left: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 90;
  -webkit-touch-callout: none;
}
.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}
.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.menu-toggle input:checked + .menu-toggle__handler span {
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
}
.menu-toggle input:checked + .menu-toggle__handler span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menu-toggle input:checked + .menu-toggle__handler span:nth-last-child(2) {
  transform: rotate(45deg) translate(-8px, -7px);
}

.menu-toggle__handler {
  position: fixed;
  top: 30px;
  z-index: 80;
}

.menu-toggle__menu {
  position: fixed;
  top: 80px;
  width: 300px;
  height: calc(100vh - 80px);
  margin: 0 0 0 -20px;
  padding: 50px 20px;
  background: #cdcdcd;
  list-style-type: none;
  z-index: 10;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.menu-toggle__menu li {
  padding: 10px 0;
  font-size: 22px;
}

@media only screen and (min-width: 1024px) {
  nav {
    display: flex;
  }
  .menu-toggle {
    left: 0;
    top: 0;
  }
  .menu-toggle__handler {
    display: none;
  }
  .menu-toggle__menu {
    position: relative;
    margin: -80px 0 0;
    transform: none;
  }
}
header {
  display: flex;
  justify-content: space-around;
  height: 80px;
  background: #282d34;
  position: fixed;
  width: 100%;
  z-index: 50;
}
header .logo img {
  max-height: 80px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  background: #232323;
  font-family: "Avenir Next", "Avenir", sans-serif;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  color: #fff;
}

main {
  position: relative;
  height: calc(100% - 80px);
  padding-top: 80px;
}

.main__section {
  padding: 20px;
}

@media only screen and (min-width: 1024px) {
  main {
    display: flex;
  }
  .main__section {
    flex-direction: column;
    flex: 2;
  }
}
@media only screen and (min-width: 1366px) {
  body {
    width: 1366px;
  }
}
.tabs {
  position: relative;
  margin: 30px 0;
}

.tabs__handlers {
  display: flex;
}
.tabs__handlers > a {
  display: block;
  text-decoration: none;
  color: #fff;
  flex: 1;
  margin: 0 10px;
  height: 60px;
  line-height: 60px;
  background: #282d34;
  text-align: center;
}
.tabs__handlers > a:first-child {
  margin-left: 0;
}
.tabs__handlers > a:last-child {
  margin-right: 0;
}
.tabs__handlers > a:hover, .tabs__handlers > a.active {
  background: rgba(255, 255, 255, 0.1);
}

.tabs__content {
  padding: 20px 0;
}
.tabs__content section {
  width: 100%;
}

.matches {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.matches__match {
  background: #282d34;
  width: 80px;
  height: 80px;
  border-radius: 6px;
  text-align: center;
  line-height: 80px;
}