// Mobiles
$screen-sm-min: 576px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1024px;
$screen-xl-max: 1366px;


$header-height: 80px;

// Fonts
$font-default: "Avenir Next", "Avenir", sans-serif;

// theme
$default-bkg: #79cbee;
$primary-bkg: #282d34;
$secondary-bkg: #cdcdcd;
$tertiary-bkg: #232323;

$default-text: #79cbee;
$primary-text: #232323;
$secondary-text: #fff;